/* Play / Pause Button */
#playPauseButton {
    /* Make the background and border transparent */
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    display: flex;
    margin: auto;
    /* Make the mouse cursor change on hover */
    cursor: pointer;

}

#book {
    display: flex;
    margin: auto;
}

#bookWrapper {
    display: flex;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;

}

/* Adjust positioning for text containers */
.textContainer {
    display: absolute;
    background-image: url(/Users/joelpenton/Projects/Featurette/Images/pages_texture.png);
    /*background-color: beige;*/
    top: 20%;
    height: 640px;
    width: 100%;
    border: 1px solid;

    /* Text dispalyed on both pages */
    font-size: 32px;
    text-align: left;
    padding: 15px;
    padding-bottom: 40px;

}

#insertedImages {
    visibility: hidden;
    height: 100%;
    width: 100%;
}

#imageContainer {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translateX(-50%);
    visibility: hidden;
    float: right;
    margin: 10px;


}

#textLeftContainer,
#textRightContainer {
    overflow: auto;
    width: calc(50% - 20px);
    float: left;
}