/* Play / Pause Button */
#playPauseButton {
    /* Make the background and border transparent */
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);

    margin-left: 45%;

    /* Make the mouse cursor change on hover */
    cursor: pointer;

    /* Overlay the button on the background image and position it */
}

#book {
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
}

#bookWrapper {
    display: flex;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 50px;
    margin-left: -50px;
    padding-right: 50px;
    margin-right: -50px;
}

/* Adjust positioning for text containers */
.textContainer {
    display: absolute;
    background-color: beige;
    top: 17%;
    height: 416px;
    width: 100%;
    /*   border: 1px solid #000000; */
    font-size: 32px;
    border: 1px solid;
    overflow: hidden;
    text-overflow: clip;
}

#textLeftContainer {
}

#textRightContainer {
}


