/* Play / Pause Button */
#playPauseButton {
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    display: flex;
    cursor: pointer;

}

/* Next Page button */
.nextPageContainer {
    position: absolute;
    right: 75%;
    top: 0;
}

#book {
    display: flex;
    flex-direction: column;
    /* Arrange the elements in a column layout */
    align-items: center;
    /* Center-align the elements horizontally */
    margin: auto;
    position: relative;
    bottom: 100px;
}

#bookWrapper {
    display: flex;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
    margin: 10%;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 5px #fff;
}

/* Adjust positioning for text containers */
.textContainer {
    display: absolute;
    background-image: url(/Users/joelpenton/Projects/Featurette/Images/pages_texture.png);
    height: 600px;
    width: 100%;
    /* Text displayed on both pages */
    font-size: 24px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#imageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Ensure it's behind other content */
    background-image: url('/Users/joelpenton/Projects/Featurette/Images/background_test1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*
#insertedImages {
    visibility: hidden;
    height: 100%;
    width: 100%;
} */

/* This is needed for the middle border */
#textLeftContainer,
#textRightContainer {
    overflow: auto;
    width: calc(50% - 20px);
    float: left;
    position: relative;
    padding: 20px;
}

/* The middle border pseudo-element */
#textLeftContainer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3px;
    background-color: #000;
    margin-top: 5%;
    margin-bottom: 15%;
}

/* Button container */
#ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align the button to the top */
    margin-top: 20px;
    /* Adjust the margin as needed to control spacing */
    position: absolute;
    /* Position the button container absolutely */
    top: 77%;
    /* Position it below the text containers */
}